* {
  box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    padding: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
    min-width: 550px;
}
textarea{
  left:-1000px;
  position:absolute;
}

#art{
  color: #21f838;
}

.child {
  /* ... */
  position: absolute;
  top: 30px;
  left: 45px;
  color:#21f838;
}
.display-area-command{
  color:#21f838;
}
.display-area-text{
  margin-left: 40px;
}
.parent {
  position: relative;
  color:#fff;
}

#cmd {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background: black;
  color: #21f838;
  padding: 5px;
  padding-left: 0px;
  overflow: hidden;   
}

#cmd span {
  float: left; 
  padding-left: 3px;
  white-space: pre;

}

#cursor {
  float: left;
  width: 8px;
  height: 20px;
  background: #21f838;
}
  
input {
  width: 0;
  height: 0;
  opacity: 0; 
}




p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}





/* content section */
.article {
    width: 100%;
    padding-top: 2rem;
    color:#808080;
    position:relative;
}

