* {
  box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    padding: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    width:100%;
    min-width: 550px;
}
textarea{
  left:-1000px;
  position:absolute;
}

#art{
  color: #21f838;
}

.child {
  /* ... */
  position: absolute;
  top: 30px;
  left: 45px;
  color:#21f838;
}
.display-area-command{
  color:#21f838;
}
.display-area-text{
  /* margin-left: 40px; */
  padding: 40px 100px 40px 40px;
}
.display-area-err{
  color:#861ca0
}
.parent {
  position: relative;
  color:#fff;
}

#cmd {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background: black;
  color: #21f838;
  padding: 5px;
  padding-left: 0px;
  overflow: hidden;   
}

#cmd span {
  float: left; 
  padding-left: 3px;
  white-space: pre;

}

#cursor {
  float: left;
  width: 8px;
  height: 20px;
  background: #21f838;
}
  
input {
  width: 0;
  height: 0;
  opacity: 0; 
}

.link{
  color:#2686f5;
}


p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  color: #c07042;
}

a{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: #c07042;
}
a:hover {
  color: #5e5b5b;
  background-color: #73a8e6;
}

ul.main-ul {
  list-style-type: none;
}
ul.main-li {
  margin-top:40px;
}
ul.main > li{
  margin-bottom:5px;
}
ul.sub{
  list-style-type: none;
  margin-left: 100px;
}
.o2{
  padding-left:20px;
}
.o1{
  padding-left: 100px;
  align-items:center;
  color: #c07042;
}
.o0{
  color: #2686f5;
}


/* content section */
.article {
    width: 100%;
    padding-top: 2rem;
    color:#808080;
    position:relative;
}

